# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Custom for this project
build/
html/
latex/
xml/
SphericalFunctions/
SphericalFunctions_wrap.cpp
SphericalFunctions.py